@use 'partials/colors' as colors;
@use 'partials/typography' as typography;
@use 'partials/spaces' as spaces;
@use '../components/Button/Button.module.scss';
@use '../components/Grid/Grid.module.scss';
@use '../components/InputText/InputText.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

@font-face {
  font-family: 'Fontspring';
  src: url('/fonts/fontspring-semibold.woff2') format('woff2');
  font-weight: typography.$font-weight-semi-bold;
  font-style: normal;
}

body {
  font-family: typography.$base-font-family;
  line-height: typography.$line-height-100;
}

h1,
h2,
h3,
h4 {
  font-family: typography.$heading-font;
  line-height: typography.$line-height-120;
}

h1 {
  font-weight: typography.$font-weight-extra-bold;
  font-size: typography.$font-size-32;
}

h2,
h3,
h4 {
  font-weight: typography.$font-weight-bold;
}

h2 {
  font-size: typography.$font-size-24;
}

h3 {
  font-size: typography.$font-size-20;
}

h4 {
  font-size: typography.$font-size-16;
}

p {
  font-family: typography.$paragraph-font;
  line-height: typography.$line-height-150;
}

input {
  font-family: typography.$base-font-family;
}
