@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/spaces';

.button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 12px;
  border-color: transparent;
  height: 40px;
  outline-offset: 2px;
  font-family: typography.$base-font-family;
  font-size: typography.$font-size-16;
  font-weight: typography.$font-weight-regular;
  line-height: typography.$line-height-100;

  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    outline: none;
  }
}
