@use '../../styles/partials/colors';
@use '../../styles/partials/typography';

.stepper {
  display: flex;
  align-items: center;
}

.stepContainer {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.stepCircle {
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid colors.$neutral-100;
  background: colors.$neutral-0;
  font-weight: typography.$font-weight-semi-bold;
  font-size: typography.$font-size-14;
  line-height: typography.$line-height-150;
  color: colors.$neutral-500;
  font-family: typography.$base-font-family;

  &.selected {
    background: colors.$accent-500;
    color: colors.$neutral-0;
  }

  &:hover {
    border-color: colors.$accent-100;
  }
}

.stepLabel {
  margin-left: 8px;
  color: colors.$neutral-500;
  font-family: typography.$base-font-family;
  font-size: typography.$font-size-14;
  font-weight: typography.$font-weight-regular;
  line-height: typography.$line-height-150;

  &.selected {
    font-weight: typography.$font-weight-semi-bold;
  }
}

.stepLine {
  width: 40px;
  height: 2px;
  background: colors.$neutral-200;
  margin: 0 8px;

  &.completed {
    background: colors.$accent-500;
  }
}
