@use '../../styles/partials/colors';
@use '../../styles/partials/typography';
@use '../../styles/partials/spaces';
@use '../../styles/partials/breakpoints';

.header {
  font-family: typography.$base-font-family;
  font-weight: typography.$font-weight-regular;
  background-color: rgba(colors.$neutral-0, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 4px;
  border: 1px solid rgba(colors.$neutral-0, 0.25);
  padding: 0 12px;
  height: 48px;
  width: 88vw;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: breakpoints.$tablet-min) {
  .header {
    height: 72px;
    padding: 16px 40px;
  }
}


@media only screen and (min-width: breakpoints.$laptop-min) {
  .header {
    padding: 0 40px;
  }
}

@media only screen and (min-width: breakpoints.$ultra-wide-screen) {
  .header {
    width: 70vw;
  }
}
